.search-results {
    display: flex;
    flex-direction: column;
}

.search-results__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-results__results {
    color: rgb(133, 185, 54);
    font-size: 1.7rem;
    padding: 15px;
    text-align: center;
}



.search-results__listPages {
    display: flex;
    justify-content: center;
    padding: 0;
}


.search-results__listPages__pageItem {
    list-style: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 5px;
    transition: all 0.2s ease;
}

@media (max-width: 730px) {
 
    .page-notSelect {
        display: none;
    }
}

.page-select,
.search-results__listPages__pageItem:hover
{
    background-color: rgb(119, 172, 41);
    cursor: pointer;
}

.searsearch-results__container--flex {
    display: flex;
    justify-content: center;
}

.search-results__container--movies{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;

}
.search_results__movie {
    position: relative;
    flex: 0 1 200px;
    /* width: 200px;
    height: 350px; */
    margin: 25px;
}

.search_results__movie__poster{
    position: relative;
    border-radius: 5px;
    border: 5px solid white;
    height: 80%;
    width: 100%;
    z-index: 200;
    transition: all 0.3s ease;
}


.search_results__movie__title{
    font-size: 1.15rem;
    color: white;
}

.search_results__movie__year{
    color: rgb(190, 190, 190);
}

.search_result--hover{
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    border: 5px solid rgb(133, 185, 54);
    display: flex;
    justify-content: center;
    height: 80%;
    opacity: 0;
    position: absolute;
    transition: all 1s ease;
    width: 100%;
    z-index: 500;
}

.search_result__viewDetails { 
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s ease;
}


.star-favorites {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:0;
    width: 100%;
    height: 12%;
}

.star-favorites img {
    width: 100%;
    height: 100%;
}

.button-add, .button-remove {
    border-radius: 10px;
    overflow: hidden;;
    width: 20%;
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.button-add:hover, .button-remove:hover{
    transform:  scale(0.8)
} 