.header {
    background-color: rgb(60, 60, 65);
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
}


.header__logo {
    display: flex;
    flex: 0.2;
    justify-content: center;
}


.header__logo img{
    border-radius: 10px;
    min-width: 120px;
    height: 45px;
    transition: all 0.5s ease;
}

.header__logo img:hover {
    cursor: pointer;
    box-shadow: 0px 0px 20px white;
}

.header__menu {
    align-items: center;
    display: flex;
    flex: 0.5;
    height: inherit;
}

.header__menu ul{
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-around;
}

.header__menu__item {
    color: rgb(134, 134, 134);
    font-weight: bold;
    font-size: 1.2rem;
    list-style: none;
    transition: all 0.5s ease;
}

.header__menu__item:hover{
    color:white;
    cursor: pointer;
}